body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#main_sec{
    width: 80%;
    margin-top: 30px;
    position: relative;
}

p{
    text-align: center;
    margin: 0;
    margin-bottom: 200px;
}

#div_sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    color: white;
    font-size: 28px;
}

hr{
    margin: 10px;
    width: 60%;
}

button{
    width: 75px;
    height: 30px;
    margin: 10px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 5px;
}

#sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div {
    width: 85px;
    height: 45px;
    margin-left: 5px;
}

#first_div{
    /*background-color: darkorchid;*/
    background-color: rgb(0, 0, 255);
}

#second_div{
    background-color: rgb(0, 128, 0);
}

#third_div{
    background-color: rgb(255, 0, 0);
}

#fourth_div{
    background-color:rgb(255, 255, 0);
}
#fifth_div{
    background-color: rgb(128, 0, 128);
}
#last_div{
    background-color: rgb(255, 165, 0);
}

#first_div{
    left: 0;
}

#last_div{
    position: absolute;
    right: 0;
}

button{
    border-radius: 15px;
}